<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.andrew.hnt.api.mapper.LoginMapper">

    <select id="getUserList" parameterType="java.util.HashMap" resultType="com.andrew.hnt.api.model.UserInfo">
        select
            no
            , user_nm as userNm
            , user_tel as userTel
            , user_email as userEmail
            , user_id as userId
            , user_pass as userPass
            , user_grade as userGrade
            , use_yn as useYn
            , del_yn as delYn
        from
            hnt_user
        where 1 = 1
        and use_yn = 'Y'
        and del_yn = 'N'
        order by no desc
        limit 10
    </select>

    <select id="getUserInfo" parameterType="com.andrew.hnt.api.model.LoginVO" resultType="com.andrew.hnt.api.model.UserInfo">
        select
            no
            , user_nm as userNm
            , user_tel as userTel
            , user_email as userEmail
            , user_id as userId
            , user_pass as userPass
            , user_grade as userGrade
            , use_yn as useYn
            , del_yn as delYn
        from
            hnt_user
        where 1 = 1
        and use_yn = 'Y'
        and del_yn = 'N'
        and user_id = #{userId}
        <if test="userPass != null and userPass != ''">
            and user_pass = #{userPass}
        </if>
    </select>

    <insert id="insertUser" parameterType="com.andrew.hnt.api.model.UserInfo">
        insert into hnt_user
            (user_nm, user_tel, user_email, user_id, user_pass, user_grade, use_yn, del_yn, inst_id, inst_dtm, mdf_id, mdf_dtm)
        values
            (#{userNm}, #{userTel}, #{userEmail}, #{userId}, #{userPass}, #{userGrade}, #{useYn}, #{delYn}, #{instId}, now(), #{mdfId}, now())
    </insert>

</mapper>